{% extends 'base.html' %}


{% block title %}Документы{% endblock %}


{% block content %}
<div class="col-md-6">
        <h2 class="text-body-emphasis">Документы</h2>
        <p>Здесь есть все документы.</p>
        <ul class="list-unstyled ps-0">
          <li>
            <a class="icon-link mb-1" href="https://docs.google.com/document/d/15Vd9wLTevIefSMT5U0U5G4BvX45a87pAs8NYll1vW9I/edit#heading=h.bdghel7jid3e" rel="noopener" target="_blank">

              Устав ВАР
            </a>
          </li>
          <li>
            <a class="icon-link mb-1" href="https://docs.google.com/document/d/15zHunp75CFUfSlULGHkJ9cwNAq2hjv6d6gf0TVAqQSU/edit?usp=sharing" rel="noopener" target="_blank">

              Правила
            </a>
          </li>
          <li>
            <a class="icon-link mb-1" href="https://docs.google.com/document/d/1ADhmF_KVKz38CZbeHupNUJXvIOM5tjC7hQT5hemu7yI/edit#" rel="noopener" target="_blank">

                Строевая подготовка
            </a>
          </li>
          <li>
            <a class="icon-link mb-1" href="https://docs.google.com/document/d/12dPACuU0acJE2dgxzY-pzxbP5Lj4IJWFu5giS_fwyfI/edit?usp=sharing" rel="noopener" target="_blank">

             ДК ВАР
            </a>
          </li>
        </ul>
    <li>
            <a class="icon-link mb-1" href="https://docs.google.com/document/d/1gNJHQOmTv39DxB38h09hyPfNXTAYY0R1tz7to_ArP98/edit?usp=sharing" rel="noopener" target="_blank">

             система повышений
            </a>
          </li>
        </ul>
    <li>
            <a class="icon-link mb-1" href="https://docs.google.com/document/d/1t0IhDxhJ0x9dl_0XpH6xp70CwbCnikncgtG-wUFli8Q/edit?usp=sharing" rel="noopener" target="_blank">

             БАЗА ЗНАНИЙ ВАР
            </a>
          </li>
        </ul>
     <li>
            <a class="icon-link mb-1" href="https://docs.google.com/document/d/1IPkOpRguMW6sXvFyD6sivjJVMVmFWfWIOPLkpmosa-s/edit?usp=sharing" rel="noopener" target="_blank">

             техника  ВАР
            </a>
          </li>
        </ul>

          </div>

{% endblock %}