{% extends 'base.html' %}

{% block title %}Вход{% endblock %}


{% block content %}


<div class="container mt-5">
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Вакансии</h1>
        <p class="lead text-body-secondary">Js разработчик стажировка, Lua разработчик стажёр зарплата % от доната. О вакансии спрашивать у N1KITA#4353</p>
        <p>
          <a href="https://discord.gg/qRCKaZa3jp" class="btn btn-primary my-2">Узнать о вакансии</a>

        </p>
      </div>
    </div>
  </section>

</div>

{% endblock %}